@header-background-color: #333;
@header-text-color: white;
@link-hover-color: #ddd;
@padding: 1rem 2rem;
@focus-border-color: #ff6b6b;
@selection-background-color: #ff6b6b;
@selection-text-color: white;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: @header-text-color !important;
    z-index: 1000;
    //.father{
    //    display: flex;
    //    justify-content: space-between;
    //    width: 90%;
    //}

    .navbar-nav{
    }
}



