.big-product-card {
  //width: 65% !important;
  height: 350px;
  margin: 5rem 1rem auto 1rem;
  padding: 1rem;
  border: 1px solid red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}