
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

$accordion-bg:white;
$accordion-button-bg: white;
$accordion-button-active-bg: white;
$accordion-button-border-color: white;
$accordion-icon-active-color:black;

@import "/node_modules/bootstrap/scss/bootstrap";
